.App {
  text-align: center;
}

.Navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}

.nav-link{
display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}